{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="flex items-center justify-center">
    <div class="w-1/2  bg-gray-300 rounded-lg p-4 shadow">
    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
     
        {% if user.avatar != 'avatar1.webp' %}  
            <img
            src="{{ path_images_avatars ~ user.avatar }}"
            alt="{{ user.email }}"
            class="rounded-full max-h-[150px] max-w-[150px]"
            />
            {% else %}
            <img
            src="{{ path_images_avatars ~ user.avatar }}"
            alt="{{ user.email }}"
            class="rounded-full max-h-[150px] max-w-[150px]"
            />
        {% endif %}    
         
        {{ form_row(registrationForm.avatar) }} 
        {{ form_row(registrationForm.userName) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.characterPref,{
            'label':'Mon héro préféré'
        }) }}
        
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Je m'inscris</button>
    {{ form_end(registrationForm) }}
    </div>
</div> 
{% endblock %}
