{% extends 'base.html.twig' %}

{% block title %}Liste des héros
{% endblock %}

{% block body %}

 
	{{ form_start(form) }}
        <div class="flex justify-center items-end p-2 bg-slate-50">
         
            {{ form_row(form.name) }}
            {{ form_row(form.race) }}
            {{ form_row(form.affiliation) }}
            {{ form_row(form.gender) }}
            {{ form_row(form.planet) }}
            {{ form_row(form.submit, {'attr': {'class': 'bg-blue-500 hover:bg-blue-700 text-white font-bold m-4 py-2 px-4 rounded'}}) }}
        
        </div>
    {{ form_end(form) }}
 

	<div class="flex justify-center flex-wrap m-5 gap-1">
		{% for hero in heros %}
			<div>
            {{ include('heros/card.html.twig', { hero: hero }) }}				 
			</div>
		{% else %}
			<div>Aucune héros n'a été trouvée</div>
		{% endfor %}
	</div>
{% endblock %}
