<header class="bg-gray-800 p-4 text-white flex justify-between items-center">
	<div class="text-lg font-bold">DBZ</div>
	<nav>
		<ul class="flex gap-4">
			<li>
				<a href="{{ path('app_index') }}" class="hover:text-gray-300">Accueil</a>
			</li>
			<li>
				<a href="{{ path('app_heros') }}" class="hover:text-gray-300">Heros</a>
			</li>
			<li>
				<a href="{{ path('app_planets') }}" class="hover:text-gray-300">Planètes</a>
			</li>
			<li>
				<a href="{{ path('app_about') }}" class="hover:text-gray-300">À propos</a>
			</li>
			<li>
				<a href="{{ path('app_contact') }}" class="hover:text-gray-300">Contact</a>
			</li>
			<li>
				<a href="{{ path('app_newsletter_subscribe') }}" class="hover:text-gray-300">Newsletter</a>
			</li>
			<li>
				<a href="{{ path('app_register') }}" class="hover:text-gray-300">Inscription</a>
			</li>
		</ul>
	</nav>
	<div class="flex">
		
		{% if ( is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') )%}
		 
			{% if (app.user.roles[0] =='ROLE_ADMIN' ) %}			
				<a href="{{ path('dashboard_admin') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Espace Admin</a>
				<p class="p-2"> compte Admin: {{ app.user.userIdentifier }} </p>
			
			{% else %} 
				<a href="{{ path('app_profile_edit') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Mon Profile</a> 		 
				<p class="p-2"> compte Utilisateur: {{ app.user.userIdentifier }} </p>		 	
			{% endif %}
			
			 
			<a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="{{ path('app_logout') }}">
				Se déconnecter
			</a>
			{% else %}		
			<a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="{{ path('app_login') }}">
				Se connecter
			</a>
			 
		{% endif %}
	</div>
</header>
